<ion-view view-title="Latest Submissions">
  <ion-content class="padding">
    <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < images.length">
            <a href="" ng-click="openImage($index)">
            	<img ng-src="{{images[$index].data.thumbnail}}" width="100%" />
            </a>
        </div>
        <div class="col col-25" ng-if="$index + 1 < images.length">
            <a href="" ng-click="openImage($index)">
            	<img ng-src="{{images[$index + 1].data.thumbnail}}" width="100%" />
            </a>
        </div>
        <div class="col col-25" ng-if="$index + 2 < images.length">
            <a href="" ng-click="openImage($index)">
            	<img ng-src="{{images[$index + 2].data.thumbnail}}" width="100%" />
            </a>
        </div>
        <div class="col col-25" ng-if="$index + 3 < images.length">
            <a href="" ng-click="openImage($index)">
            	<img ng-src="{{images[$index + 3].data.thumbnail}}" width="100%" />
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>

