<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
    <div>Discovered {{nearbyUsers.length}} users</div>
   <!--  <div ng-repeat="user in nearbyUsers">
      <h3>{{user.name}}</h3>
      <p>{{user.distance}}, {{user.location}}</p>
      <hr>
    </div> -->

    <div class="list card" ng-repeat="user in nearbyUsers">
      <div class="item item-divider"> {{user.name}} </div>
      <div class="item item-body">
        <div>
          Distance: {{user.distance}} <b>Location: {{user.location}}</b>
        </div>
      </div>
    </div>

    <!-- Users List -->
    <div class="list card">
      <div class="item item-divider">Users</div>

      <div class="item" ng-repeat="item in usersList">
        <i class="icon" ng-class="{'user-female': item.user.gender === 'female', 'user-male': item.user.gender === 'male'}"></i>
  
        <div class="user-username">{{item.user.username}}</div>

        <div class="user-distance">0 mi</div>
      </div>
    </div>

  </ion-content>
</ion-view>
