// User list UI
.user-female {
  @extend .ion-woman;
  color: #F1396D;
}

.user-male {
  @extend .ion-man;
  color: #2A8FBD;
}

.user-female,
.user-male {
  font-size: 1.5em;
  margin-right: 0.5em;
  float: left;
}

.user-username {
  float: left;
}

.user-distance {
  float: right;
}

.user-username,
.user-distance {
  margin-top: 3px;
}